header{
    background-color: brown;
}

footer{
        background-color: green;
    }

table{
    border: 100px, 100px;
    padding: 50px, 50px;
    border-style: dotted;
    border-color: darkgoldenrod;
}

#hello{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(173, 248, 143);
    background-color: rgb(76, 131, 131);
}

#best{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(233, 197, 78);
}

#website{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(250, 122, 83);
    background-color: rgb(175, 212, 212);
}

#ever{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(250, 177, 83);
}

#hi{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(255, 115, 115);
    background-color: rgb(126, 103, 212);
}

#my{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(250, 177, 83);
}
#top{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(250, 177, 83);
    background-color: rgb(71, 122, 84);
}
#site{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(250, 177, 83);
}
#i{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(250, 177, 83);
    background-color: rgb(60, 52, 90);
}
#will{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(250, 177, 83);
}
#make{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(250, 177, 83);
    background-color: rgb(221, 113, 131);
}
#this{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(250, 177, 83);
}

#online{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(250, 177, 83);
    background-color: rgb(112, 231, 240);
}
#awesome{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(250, 177, 83);
}
#new{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(250, 177, 83);
    background-color: rgb(48, 19, 19);
}
#task{
    border: 20px, 20px;
    padding: 10px, 10px;
    border-style: solid;
    border-color: rgb(250, 177, 83);
}
